
            h1 {
                color: brown;
            }

            body{
                background-color:#808080 ;
                border: solid;
                
            }
           
     .header{
            color:yellow;
            display:flex;
            justify-content:space-between ;
     }


     .grid{
         display:flex;
         justify-content: space-evenly;
         flex-wrap: wrap;
     }
.footer{
    display: flex;
    justify-content: flex-end;
    background-color:blueviolet;
}
/*{border: solid;}

